* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 20%;
    align-items: center;
    justify-content: flex-start;
    border-right: 3px solid #F0F0F0;

}

.userSection {
    width: 100%;
}

.infoData {

    padding: 5px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-bottom: 3px solid #F0F0F0;
    
}

.infoData .img {
    width: 45px;
}

.infoData .img img {
    width: 100%;
    border-radius: 50%;
}

.icons i {
    padding-right: 15px;
}

.button {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #F0F0F0;
}

.button div {
    display: flex;
    background-color: #B2A1D9;
    color: #FFF;
    height: 30px;
    width:150px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    transition: 1s;
}

.button div:hover {
    cursor: pointer;
    opacity: .7;
    border: 1px solid blue;
}

.chats {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.friends {
    display: flex;
    gap: 10px;
    padding: 4px 0;
    border-bottom: 3px solid #F0F0F0;
    padding-left: 20px;
    transition: .5s;
    
}

.friends .img {
    width: 49px;
    transition: .7s;
}

.friends:hover {
    cursor: pointer;
    background-color: #111;
    height: 87px;
}

.friends:hover > .img{
    transform: scaleX(1.2) translateX(70px) translateY(10px);
    position: absolute;
    z-index: 2;
    opacity: 1;
    
}


.friends .img img {
    width: 100%;
    border-radius: 50%;
}

.logoSection {
    flex: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
}

.logoSection img {
    width: 23vw;
}

.text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text h2 {
    font-size: 1.5em;
    text-align: center;
}

.text p {
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
}

p span {
    font-weight: bolder;
}