* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100vw;
}

section {
    display: flex;
    flex-direction: column;
    background: #FFF;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 4;
    border-right: 3px solid #EFEFEF;

    
}

.userSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px 0;
    border-bottom: 3px solid #EFEFEF;
}

.infoData {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.texts {
    display: flex;
    flex-direction: column;
    
   
}

.texts p {
    text-align: center;
}

.userSection .img {
    width: 4em;
    object-fit: cover;
}

.userSection .img img {
    max-width: 100%;
    border-radius: 50%;
}

i {
    margin: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    border-bottom: 3px solid #F8F8F8;
}

.button div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A491D3;
    color: #FFF;
    width: 15vw;
    height: 3em;
    transition: .9s;
    font-size: 1em;
    text-align: center;
    
}

.button div:hover {
    cursor: pointer;
    opacity: .6;
    border: 2px solid #111;
    font-weight: bold;

}

.friends {
    margin-left: 10%;
    display: flex;
    gap: 30px;
    border-bottom: 3px solid #EFEFEF;
    padding: 2px 0;
    font-size: 100%;
}

.friends:nth-of-type(8){
    padding-bottom: 0;
}

.friends img {
    width: 3em;
    object-fit: cover;
}

.friends img {
    max-width: 100%;
    border-radius: 50%;
}

.logoSection {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
    background: #F8F8F8;
    flex-shrink: 1;
    


}

.logoSection img{
    width: 33vw;
    
}

h2 {
    margin-top: 3%;
    font-size: 5vw;
    text-align: center;
}

.logoSection p {
    text-align: center;
    font-size: 3vw;
    margin-top: 2%;
}

.logoSection p span {
    font-weight: 1000;
}

/* MediaQueries */

@media (min-width: 600px) {

    h2 {
        font-size: 3vw;  
    }
    
    .logoSection p {
       
        font-size: 1.5vw;  
    }

    .logoSection img{
        width: 23vw;  
    }

    

}

@media (max-width: 599px) {
    section {
        width: 33%;
    }

    .infoData {
        width: 80%;
    }

    .friends {
        font-size: 80%;
    }
}

